.burgerIngredients {
    max-width: 620px;
}

.ingredientTitle {
    width: 100%;
}

.ingredientSection {
    display: flex;
    flex-direction: row;
}

.ingredientsTitle {
    margin: 0;
    padding: 0;
}

.ingredients {
    overflow-y: scroll;
    height: 520px;
    scrollbar-width: thin;
    scrollbar-color: #8585AD;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}