.newPasswordWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.newPasswordHeader {
    padding: 0;
    margin: 0;
}

.newPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
}