.passwordWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.passwordHeader {
    padding: 0;
    margin: 0;
}

.passwordForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.button {
    width: 196px;
}