.profileListWrapper {
    display: flex;
    flex-direction: column;
}


.profileList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.profileListItem {
    width: 320px;
    height: 64px;
    line-height: 64px;
    text-align: left;
}


.profileLink {
    text-decoration: none;
    color: #8585AD;
}

.personalOrdersWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ordersWrapper {
    overflow-y: scroll;
    height: 600px;
}